@model Usuario

<div class="container px-3 py-5">
    <h2>Faça seu login</h2>
    <form asp-controller="Cliente" asp-action="Login" method="post">

        <div class="row">
            <p class="text-danger">@ViewBag.Mensagem</p>
        </div>

        <div class="row mt-2">
            <div class="col-md-4">
                <label asp-for="Login">Login</label>
                <input type="email" asp-for="Login" required class="form-control"/>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-4">
                <label asp-for="Senha">Senha</label>
                <input type="password" asp-for="Senha" required class="form-control" value=""/>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-2">
                <button type="submit" class="btn btn-outline-primary">
                    Fazer Login
                </button>
            </div>
        </div>

    </form>
</div>